
.upload-label{
    display: inline-block;
    padding: 12px 30px;
    color: #fff;
    background:  #ffbf00;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 10px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;  
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

input[type="file"] {
    display: none;
}

.upload-label:hover{
    background:transparent;
    color:  #ffbf00;
}

.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #ffbf00; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}